.header {
    grid-area: h;
    background: linear-gradient(to right, rgba(115, 0, 255, 0.8), rgba(255, 0, 153, 0.2));
    height: 65px;
    margin: 0;
    border-radius: 5px;
    display: flex;
}

.logo {
    width: 40px;
    padding: 10px;
}
.header p {
    display: flex;
}